@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    height: 233px;
}

#profile-pic {
    height: 15%;
    border-radius: 35px;
}

.body {
    min-width: 1139px;
    min-height: 100%;
    font-family: arial, sans-serif;
    font-size: 13px;
}

.center {
    display: flex;
    flex-flow: column nowrap;
}

#main-logo {
    margin: 0 auto;
    display: block;
}

.search-bar {
    display: flex;
    /* box model dimensions */
    border: 2px solid #eff0f2;
    margin: 0 auto;
    width: 582px;
    height: 44px;
}

.search-icon {
    height: 100%;
}

.search-text-field {
    border: none;
    width: 100%;
}

.button-group {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 0 auto;
}

.button {
    font-size: 14px;
    background: #f4f4f4;
    /* box model dimensions */
    border: none;
    padding: 0px 16px 0px 16px;
    margin: 0px 4px 0px 4px;
    width: 127.367px;
    height: 36px;
}

.relevant-link {
    font-size: 13px;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    border-top: 1px solid #eaeaea;
    bottom: 0;
    left: 0;
    right: 0;
    position: -webkit-sticky;
    position: sticky;
    min-width: 980px;
    height: 40px;
    z-index: -1;
}

.footer-links {
    color: #696c71;
    text-decoration: none;
}

.footer-links.left {
    padding: 0px 0px 0px 27px;
}

.footer-links.right {
    padding: 0px 27px 0px 0px;
}
